<head>
	<Style>
		form{
			text-align: center;
			width: 20%;
			border: 1px solid black;
			margin: 0 auto;
		}
	</style>
</head>
<body>
	<form action="/">
		<p>The current time in <%= @city%><p></br>
		<h2><%= @hour%> : <%= @minu%> : <%= @sec%> : <%= @ampm%></h2>
		</br></br></br>
	</form>
</body>
